.header{
  background: #222222;
  padding: 11px 0;

  &__popover{
    padding: 20px;
    &-top{
      display: flex;
      column-gap: 10px;
      align-items: center;
      padding: 8px 5px;
      border-radius: 5px;
      background: #222222;
    }
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      margin-top: 10px;
    }
    &-item{
      padding: 5px;
      display: flex;
      column-gap: 10px;
      align-items: center;
      svg{
        font-size: 20px;
      }
      &:not(:nth-child(3)):hover{
        cursor: pointer;
        background: #222222;

      }
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 35px;
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__search {
    position: relative;
    &-icon{
      position: absolute;
      top: 6px;
      left: 8px;
      font-size: 20px;
      cursor: pointer;
    }
    &-field{
      width: 230px;
      background: #424242;
      border-radius: 8px;
      height: 32px;
      border: none;
      padding: 0 12px 0 34px ;
    }
  }
  &__notif{
    font-size: 27px;
    cursor: pointer;
  }
  &__user{
    display: flex!important;
    align-items: center!important;
    column-gap: 4px!important;
    cursor: pointer!important;
    padding: 15px 10px!important;
    background: transparent!important;
    height: auto!important;
    border-radius: 0 !important;
    &:hover{
      background: #424242 !important;
    }
    &-photo{
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
    &-icon{
      font-size: 20px;
    }
  }
}