
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');*
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    transition: .3s all;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: white;
  }

  body {
    background: #181818;
  }

  button, input {
    cursor: pointer;
  }

  $blue : #0275B1;
  $black : #181818;
  $grey : #8C8C8C;
  $red : #F5222D;


  @mixin text($fw, $lh, $fz, $col) {
    font-weight: $fw ;
    @if $lh > 0 {
      line-height: $lh;
    }
    font-size: $fz;
    color: $col;
  }



  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


.content {
    padding: 20px 0 100px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
  }
@import "header";
@import "switchLang";